body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }

#wrapper {
  height: 100%; }

.fullpage-section {
  width: 100%;
  height: 100%; }

img.bg {
  height: 100vh;
  width: 100%;
  display: block; }

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#main-page {
  background-color: #292929;
  height: 100vh; }

#container {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center; }

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  float: left; }

.main-nav {
  width: 500px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -200px;
  vertical-align: middle; }

.main-nav ul {
  padding: 40px 0;
  text-align: center; }

.main-nav ul li::before {
  content: '/';
  color: white;
  padding: 0 12px 0 9px; }

.main-nav ul li:first-child::before {
  display: none; }

.text-color--white {
  color: #FFFFFF; }

a:hover {
  color: #F7484E;
  outline: 0; }

a {
  color: #F7484E;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600; }

.underlined--white:hover {
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: -.2em;
  border-bottom: 2px solid;
  border-color: #fff; }

h1 {
  border-bottom: 2px solid;
  border-color: white;
  padding: 0px 2px 8px 2px;
  margin-top: -5px;
  margin-bottom: 10px; }

.section-about {
  width: 100%;
  height: 101vh; }

.about-title {
  float: left;
  width: 50%;
  height: 101vh;
  background-color: #F7484E;
  color: white; }

.about-intro {
  float: right;
  width: 50%;
  height: 1000px;
  padding: 100px 50px 50px 50px;
  z-index: 1000; }

.fontfix {
  font-family: proxima-nova, sans-serif;
  font-size: 300%;
  font-style: normal;
  font-weight: 100; }

.align-center {
  width: 50px;
  position: relative;
  align: center;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -50px; }

.section-projects {
  width: 100%;
  height: 100vh; }

.projects-title {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: white; }

.projects-intro {
  width: 50%;
  min-height: 100vh; }

.progress-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 8px;
  background: #111F22; }

.progress-bar {
  height: 8px;
  background: #FFA54F;
  width: 0%; }

/*# sourceMappingURL=input.css.map */
