html, body {
  min-height: 100%;
  margin: 0; }

img.bg {
  height: 101vh;
  width: 100%; }

#main-page {
  display: table; }

#main-text {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center; }

.fullpage--section {
  position: relative;
  width: 100%;
  display: table-row; }

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  float: left; }

.main-nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -200px;
  vertical-align: middle; }

.main-nav ul {
  padding: 40px 0;
  text-align: center; }

.main-nav ul li::before {
  content: '/';
  color: white;
  padding: 0 12px 0 9px; }

.main-nav ul li:first-child::before {
  display: none; }

.text-color--white {
  color: #FFFFFF; }

.link-color:hover {
  color: #F7484E;
  outline: 0; }

.link-color {
  color: #F7484E;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600; }

.underlined--white:hover {
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: -.2em;
  border-bottom: 2px solid;
  border-color: #fff; }

h1 {
  border-bottom: 2px solid;
  border-color: white;
  padding: 0px 2px 8px 2px;
  margin-top: -5px;
  margin-bottom: 10px; }

.section-about {
  display: table;
  z-index: 500; }

.about-title {
  display: table-row;
  position: relative;
  float: left;
  width: 50%;
  height: 150vh;
  background-color: #F7484E;
  color: white; }

.about-intro {
  display: table-row;
  width: 50%;
  float: right;
  padding: 100px 50px 0px 50px;
  z-index: 1; }

.fontfix {
  font-family: proxima-nova, sans-serif;
  font-size: 300%;
  font-style: normal;
  font-weight: 100; }

.align-center {
  width: auto;
  position: relative;
  align: center;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  margin-left: -9vh;
  margin-top: -35vh; }

.progress-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 8px;
  background: #111F22; }

.progress-bar {
  height: 8px;
  background: #FFA54F;
  width: 0%; }

.title-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000; }

.section-projects {
  width: 100%;
  height: 100vh;
  position: relative; }

.projects-title {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: white;
  color: black;
  z-index: 600; }

.projects-intro {
  width: 50%;
  float: right;
  background-color: #F7484E;
  padding: 0px;
  overflow: hidden; }

.project-width {
  height: 102vh;
  overflow: hidden; }

.project-image {
  width: 100%;
  padding: 0px;
  overflow: hidden;
  -moz-transition: all 5s;
  -webkit-transition: all 5s;
  transition: all 5s; }

.project-image:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/*# sourceMappingURL=input.css.map */
